<div class="card">
  <h4 class="card-header">Adicionar todo</h4>
  <div class="card-block">
    <div class="container">
      <form [formGroup]="addTodoForm" (ngSubmit)="addTodo()">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" placeholder="Nome" name="name" formControlName="name" type="text" />
        </div>
        <div class="form-group">
          <button type="submit" name="submit" [disabled]="!addTodoForm.valid" class="btn">OK</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Todo ({{todos.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="todo.length === 0">
        <tr>
          <td colspan="4">There are no todo in the DB. Add a new todo below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let todo of todos">
          <td>{{todo.name}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(todo)">
                <i class="fa fa-pencil"></i> Editar
            </button>
            <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo)">
                <i class="fa fa-trash"></i> Deletar
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form #form="ngForm" (ngSubmit)="editTodo(todo)">
              <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="todo.name" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid">
                    <i class="fa fa-floppy-o"></i> Salvar
                </button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Mensagem:</strong> {{infoMsg.body}}
    </div>
  </div>
</div> 
